@charset "UTF-8";

// ----------------------
// == Site settings
// ----------------------

// Fonts
$font1: "Helvetica Neue", Helvetica, Arial, sans-serif;


// = Colors
// -----------------------------


$color1: #211E1E;
$color2: white;
$color3: #2DB6E8;


// = Grid
// -----------------------------

//margins
$spacing1: 1em;
$spacing2: .5em;
$spacing3: 2em;
$spacing4: 1.5em;
//mixin

